.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.spinner .spinner-svg {
  width: 2.5rem;
  height: 2.5rem;
  color: rgb(34 197 94);
  animation: rotate 2s linear infinite;
}

.spinner .spinner-svg .spinner-circle {
  fill: none;
  stroke: currentcolor;
  stroke-linecap: round;
  stroke-width: 5;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {

  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {

  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
